.el-tabs__item  {
    font-size: 13px;
    padding:0 8px !important;
    line-height:30px;
    height: 30px;
}
.el-tabs__content {
    padding: 0px !important;
}
.el-tabs__nav-prev,.el-tabs__nav-next {
    line-height: 30px !important;
}
.el-tabs__nav-wrap {
    padding:0 15px !important;
}
.el-input__inner {
    text-align: left !important;
}